<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
		<img class="img-responsive" alt="Comic page" src="image/{{pageId}}.jpg">
		</div>
	</div>
	<br/>
</div>

<div class="footer">
	<div class="row">
		<div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-1 col-xs-3">
			<a href="#/{{prev}}">
				<span class="glyphicon glyphicon-chevron-left arrow"></span>
			</a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6 bottom-text" style="text-align: center;">
			<p class="page-number">{{pageId}}<small id="nb-of-pg"> / 25</small></p>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-3" style="text-align: center;">
			<a href="#/{{next}}">
				<span class="glyphicon glyphicon-chevron-right arrow"></span>
			</a>
		</div>
	</div>
</div>
