<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
		<img class="img-responsive" alt="Comic page" src="image/cover.png">
		</div>
	</div>
	<br/>
</div>

<div class="footer">
	<div class="row">
		<div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-6 bottom-text">
			<a href="downloads/hardabud.cbz">
				<span>Download</span></button>
			</a>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-0">
		</div>
		<div class="col-md-2 col-sm-3 col-xs-6 bottom-text">
			<a href="#/1">
				<span>Read online</span>
			</a>
		</div>
	</div>
</div>
